<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <world>
        <maxX>2000</maxX>
        <maxY>2000</maxY>
    </world>
    <creature>
        <startHealth>200</startHealth>
        <damage>20</damage>
    </creature>
      <path> C:\School\MandatoryAssignments\MiniGameFramework\log.txt </path>
</configuration>
